html.js .islandora-solr-metadata-operations-hidden
{
    width: 1px;
    padding: 0;
}

html.js .islandora-solr-metadata-configure-submit,
html.js .islandora-solr-metadata-dialog-submit
{
    display: none;
}

.islandora-solr-metadata-configure-link
{
    display: none;
}

html.js .islandora-solr-metadata-configure-link
{
    display: block;
}

html.js .islandora-solr-metadata-solr-field-weight.tabledrag-hide
{
    display: table-cell;
}

.islandora-solr-metadata-admin-dialog {
    /* We need this so the button is visible. */
    overflow: visible;
    position: fixed;
    font-size: small;
    padding: 0;
}

.islandora-solr-metadata-admin-dialog .ui-dialog-titlebar-close {
    /* based on Seven */

    position: absolute;
    display: block;
    right: -27px;
    top: -1px;

    height: 22px;
    width: 26px;
    margin: 0;
    padding: 0;

    -moz-border-radius: 0 10px 12px 0;
    -webkit-border-radius: 0 10px 12px 0;
    border-radius: 0 10px 12px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #ccc;

    /* Make sure this is in front of the modal backdrop. */
    z-index: 1002;

    box-shadow: none;

    background: url("../images/close.png") no-repeat scroll 6px 3px #F3F4EE;
}

.islandora-solr-metadata-admin-dialog .ui-dialog-titlebar
{
    padding: 0;
}

.islandora-solr-metadata-admin-dialog .ui-dialog-content
{
    padding: 0;
    overflow: hidden;
}

.islandora-solr-metadata-admin-dialog .ui-dialog-title
{
    display: none;
}

.islandora-solr-metadata-admin-dialog .ui-helper-clearfix:after
{
    display: none;
}

.islandora-solr-metadata-admin-dialog .ui-dialog-titlebar-close {

}

.islandora-solr-metadata-admin-dialog .ui-dialog-titlebar-close span {
    display: none;
}

.islandora-solr-metadata-admin-dialog #islandora-solr-metadata-admin-dialog-title
{
    padding: 8px 13px;
    margin: 0;
    font-size: 15px;
    background-color: #f3f4ee;
}

.islandora-solr-metadata-admin-dialog .form-buttons
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 0 0;
    border-image: none;

    padding: 8px 13px;
    background-color: #f3f4ee;
}

.islandora-solr-metadata-admin-dialog .form-buttons input
{
    margin: 0 1em 0 0;
}

#islandora-solr-metadata-admin-dialog-body
{

}

.islandora-solr-metadata-admin-dialog .scroll
{
    /*
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      bottom: 45px;
    */

    /*
      height: auto;
      max-height: 402px;
    */

    padding: 8px 13px;
    overflow: auto;

    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 0 0;
    border-image: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
